@use "@angular/material" as mat;

@mixin theme($theme) {
  --car-sidenav-background-color: #{mat.get-theme-color($theme, primary, 30)};
  --car-sidenav-nested-background-color: #{mat.get-theme-color(
      $theme,
      primary,
      25
    )};

  @if mat.get-theme-type($theme) == dark {
    --car-sidenav-color: #{mat.get-theme-color($theme, primary, 20)};
  } @else {
    --car-sidenav-color: #{mat.get-theme-color($theme, primary, 80)};
  }
}
